body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

#countdown {
  font-size: 64px;
  color: #333;
  margin-bottom: 20px;
}

.current-period {
  font-size: 16px;
  color: #555;
  margin-top: 20px;
}

.info {
  font-size: 18px;
  color: #555;
  margin-top: 50px;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00; /* Initial color, will be overridden */
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}