body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

#countdown {
  font-size: 64px;
  color: #333;
  margin-bottom: 20px;
}

.current-period {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.device-timezone {
  font-size: 16px;
  color: #555;
  margin-top: 30px;
  font-weight: bold;
}

.info {
  font-size: 24px;
  color: #555;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .info {
    font-size: 18px;
  }
}

.add-extension-button {
  font-size: 16px;
  color: #fff;
  background-color: #b3b3b3;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  text-decoration: none;
}

.add-extension-button:hover {
  background-color: #999999;
}

.download-button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.download-button:hover {
  background-color: #0056b3;
}

.site-button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  text-decoration: none;
}

.site-button:hover {
  background-color: #0056b3;
}

.home-title {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
  font-weight: normal;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.home-button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 1;
  box-sizing: border-box;
}

.home-button:hover {
  background-color: #0056b3;
}

.input-section, .credit-list {
  margin-bottom: 20px;
}

.input-section input, .input-section select {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

.credit-list ul {
  list-style-type: none;
  padding: 0;
}

.credit-list li {
  margin-bottom: 5px;
}

.calculator-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.calculator-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.calculator-container label {
  font-size: 18px;
  color: #555;
  margin-right: 10px;
}

.calculator-container input, .calculator-container select {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

.results {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}
