/* General styles */
body {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

#countdown {
  font-size: 64px;
  color: #333;
  margin-bottom: 20px;
}

.current-period {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.device-timezone {
  font-size: 16px;
  color: #555;
  margin-top: 30px;
  font-weight: bold;
}

.info {
  font-size: 24px;
  color: #555;
  margin-top: 50px;
}

/* Media query for smaller font size on mobile */
@media only screen and (max-width: 768px) {
  .info {
    font-size: 18px;
  }
}

/* Button styles */
.add-extension-button {
  font-size: 16px;
  color: #fff;
  background-color: #b3b3b3; /* Gray color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  text-decoration: none;
}

.add-extension-button:hover {
  background-color: #999999; /* Darker gray on hover */
}

.download-button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-bottom: 20px; /* Added more space */
  text-decoration: none;
}

.download-button:hover {
  background-color: #0056b3;
}

.site-button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  text-decoration: none;
}

.site-button:hover {
  background-color: #0056b3;
}
